<odoo>
    <menuitem
        id="menu_eventmind_root"
        name="EventMind"
        sequence="10"
        action="action_eventmind_event"
    />

    <menuitem
        id="menu_eventmind_events"
        name="Events"
        parent="menu_eventmind_root"
        action="action_eventmind_event"
        sequence="1"
    />

    <record id="eventmind_website_menu_events" model="website.menu">
        <field name="name">События</field>
        <field name="url">/eventmind/events</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence" eval="80"/>
    </record>

    <record id="eventmind_website_menu_cabinet" model="website.menu">
        <field name="name">Мой кабинет</field>
        <field name="url">/eventmind/cabinet</field>
        <field name="parent_id" ref="website.main_menu"/>
        <field name="sequence" eval="81"/>
    </record>
</odoo>
